extends ../layout

block content
    link(href="/css/bootstrap.min.css", rel="stylesheet", media="screen")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootstrap-paginator.min.js')
    .container
        .row
            .panel.panel-default
                .panel-heading
                    a.btn.btn-default(type='button',href='./task') 创建Android打包任务
                    a.btn.btn-default(type='button',href='./relation') 新建git仓库tag关联
                .panel-body
                    table.table.table-hover.table-condensed.table-bordered(align='center')
                        thead
                            tr
                                th ID
                                th 打包状态
                                th 创建时间
                                th 结束时间
                                th 程序版本
                                th 描述
                                th 详情
                                th LOG
                                th ZIP
                                th APK
                        tbody
                        if tasks
                            if tasks.length > 0
                                each task in tasks
                                    tr
                                        td #{task.id}
                                        td #{task.status_code}
                                        td #{task.create_at}
                                        td #{task.finish_at}
                                        td #{task.app_version}
                                        td #{task.value_desc}
                                        td: a(target="_blank", href="../task/#{task.id}") 查看
                                        td: a(target="_blank", href="#") 下载
                                        td: a(target="_blank", href="#") 下载
                                        td: a(target="_blank", href="#") 下载
                            else
                                tr
                                    td(colspan='10') 暂无数据
                        else
                            tr
                                td(colspan='10', align='center') 暂无数据

                    .span(align='center')
                        ul#page1(pageCount='#{total}', pageNum='#{page}')
                            //<div id="page1" pageCount="<%=page.pageCount%>" pageNum="<%=page.num %>"
                            //pageSize="<%=page.size%>" pageLimit="<%=page.limit%>" numberOfPages="<%=page.numberOf%>"></div>
                    script(type="text/javascript").
                        //分页功能
                        $(function () {
                            var page = $('#page1');
                            var options;
                            options = {
                                bootstrapMajorVersion: 3,
                                currentPage: page.attr('pageNum'),//选中页
                                totalPages: page.attr('pageCount'),//总页数
                                pageUrl: function (type, page, current) {
                                    return '/index?p=' + page;
                                }
                            };
                            $('#page1').bootstrapPaginator(options);
                        })
